@import "../../../../styles/variables.scss";

.selectContainer {
  display: inline-block;
  position: relative;
}

.selectImage {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.select {
  // width: 100%;
  padding: 10px 30px 10px 20px;
  background-color: $primaryGreyColor;
  color: $accentWhiteFontColor;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 400;
  transition: all 0.15s ease;
  appearance: none;
  cursor: pointer;

  &:hover {
    background-color: #262626
  }

  :focus {
    outline: none;
  }
}

.selectWithImage {
  padding-left: 30px;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  translate: 0 -50%;
  transition: all 0.3s ease;
  
  img {
    display: block;
    width: 10px;
    height: 10px;
  }
}

.activeArrow {
  transform: rotate(180deg);
}

.optionsContainer {
  position: absolute;
  top: calc(100% + 10px);
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  overflow-y: scroll;
  max-height: 200px;
  z-index: 1000;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.option {
  background-color: $primaryGreyColor;
  color: $accentWhiteFontColor;
  padding: 10px 30px 10px 20px;
  border: none;
  transition: all 0.15s ease;
  cursor: pointer;

  &:hover {
    background-color: #262626
  }
}

.selected {
  position: relative;
  background-color: #202020;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-image: url("../../../../assets/check.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.optionsList {
  top: calc(100% + 10px);
}