@import "../../../styles/variables.scss";

.buttonContainer {
}

.button {
  background-color: transparent;
  color: $accentPurpleFontColor;
  padding: 0;
  font-weight: 700;
  font-size: 22px;
  border: none;
  cursor: pointer;
}