.subscription {
  position: static;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  overflow: auto;

  &__close {
    margin-top: 16px;
    margin-right: 16px;
    background-color: rgba(139, 136, 146, .32);;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__block {
    height: 100vh;
    background-color: #101011;
    min-width: 720px;
    width: 45%;
    max-width: 900px;
    padding-bottom: 40px;
    overflow-x: hidden;

    &_title {
      background-color: #1b1a1d;
      color: rgba(255, 255, 255, .96);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 60px;

      & h3 {
        font-size: 16px;
        line-height: 24px;
        font-family: "OKKO Sans Medium", sans-serif;
        letter-spacing: 1px;
      }
    }

    &_top {
      background-color: #1b1a1d;
      color: rgba(255, 255, 255, .56);
      padding: 24px 80px;

      &_main {

        &_title {
          color: rgba(255, 255, 255, .96);
          margin-bottom: 16px;
          font-size: 22px;
          line-height: 28px;
          font-weight: 700;
        }

      }

      &_advantages {
        display: grid;
        gap: 16px;
        font-size: 15px;
        line-height: 18px;
        color: rgba(255, 255, 255, .76);

        &_line {
          background: rgba(139, 136, 146, .32);
          height: 1px;
        }

        &_price, &_pay {
          display: flex;
          justify-content: space-between;

          &_yellow {
            color: #ffcd13;
          }
        }

        &_pay {
          font-size: 18px;
          line-height: 22px;
        }

        &_additionally {
          font-size: 15px;
          line-height: 18px;
          color: rgba(255, 255, 255, .56);
        }
      }
    }

    &_main {
      padding: 0 80px;

      &_container {
        background-color: #1b1a1d;
        color: rgba(255, 255, 255, .78);
        padding: 25px 35px;
        margin-top: 15px;
        box-shadow: 0 0 2px 0 black;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;

        &_form {
          position: relative;
          width: 100%;
          overflow: hidden;
          padding: 0 0 0 5px;
          box-sizing: border-box;
          margin-top: 10px;

          &_card_name {
            position: relative;

            &_input {
              box-sizing: border-box;
              min-height: 50px;
              position: relative;
              margin-bottom: 10px;

              & input {
                background-color: rgba(139, 136, 146, .32);
                color: hsla(0, 0%, 100%, .96);
                caret-color: hsla(0, 0%, 100%, .96);
                border: 2px solid transparent;
                border-radius: 8px;
                width: 100%;
                font-size: 16px;
                line-height: 24px;
                font-family: OKKO Sans Regular, sans-serif;
                box-sizing: border-box;
                padding-left: 14px;
                height: 50px;

                &::placeholder {
                  color: hsla(0, 0%, 100%, .76);
                }
              }
            }

            &_images {
              position: absolute;
              right: 10px;
              top: 5px;

              & img {
                margin: 0 3px;
              }
            }

          }

          &_card_bottom {
            color: hsla(0, 0%, 100%, .78);
            font-family: OKKO Sans Regular, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
            display: flex;
            justify-content: space-between;

            &_date {
              position: relative;
              width: 50%;
              display: flex;
              align-content: flex-start;

              & input {
                width: 50%;
                display: inline-block;
                background-color: rgba(139, 136, 146, .32);
                caret-color: hsla(0, 0%, 100%, .96);
                border: 2px solid transparent;
                border-radius: 8px;
                font-size: 16px;
                line-height: 24px;
                font-family: OKKO Sans Regular, sans-serif;
                box-sizing: border-box;
                padding-left: 14px;
                height: 50px;
                margin-right: 10px;

                &::placeholder {
                  color: hsla(0, 0%, 100%, .76);
                }
              }
            }

            &_code {
              box-sizing: border-box;
              min-height: 50px;
              position: relative;
              margin-bottom: 10px;
              width: 50%;

              & input {
                background-color: rgba(139, 136, 146, .32);
                caret-color: hsla(0, 0%, 100%, .96);
                border: 2px solid transparent;
                border-radius: 8px;
                font-size: 16px;
                line-height: 24px;
                font-family: OKKO Sans Regular, sans-serif;
                box-sizing: border-box;
                width: 100%;
                padding-left: 14px;
                height: 50px;

                &::placeholder {
                  color: hsla(0, 0%, 100%, .76);
                }
              }

              & img {
                display: block;
                position: absolute;
                right: 10px;
                top: 9px;
                pointer-events: none;
                height: 32px;
                width: 35px;
              }
            }
          }

          &_button {
            margin-top: 15px;

            width: 100%;

            & button {
              background: linear-gradient(26.57deg, #3c1a70 0%, rgba(93, 14, 245, .83));
              max-width: 130px;
              height: 40px;
              color: rgba(255, 255, 255, 0.56);
              width: 100%;
              opacity: .5;
              cursor: auto;
              font-size: 18px;
              border-radius: 8px;
            }
          }

          &_version {
            text-align: right;
            & p {
              color: rgba(139, 136, 146, .32);
              display: inline-block;
              position: relative;
              right: 0;
              font-size: 12px;
              line-height: 18px;
              font-family: OKKO Sans Regular, sans-serif;
            }
          }
        }
        &_after {
          width: 100%;
          padding-bottom: 20px;
          color: rgba(139,136,146,.32);
          padding-left: 5px;
          box-sizing: border-box;
          & p {
            font-size: 12px;
            line-height: 18px;
            font-family: OKKO Sans Regular,sans-serif;

          }
          &_images {
            display: flex;
            align-items: center;
            & img {
              margin-right: 12px;
            }
          }
        }
        &_bonus {
          color: rgba(255,255,255,.96);
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top: 1px solid rgba(255,255,255,.78);
          padding-top: 20px;
          & span {
            font-size: 16px;
            line-height: 24px;
            font-family: "OKKO Sans Regular",sans-serif;
            font-weight: 200;
          }
        }
        &_rules {
          margin-top: 20px;
          font-size: 12px;
          line-height: 18px;
          font-family: "OKKO Sans Regular",sans-serif;
          margin-bottom: 10px;
          width: 100%;
          color: rgba(255,255,255,.56);
          & a{
            text-decoration: underline;
            color: rgba(255,255,255,.56);
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}