@import "../../../styles/variables.scss";

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  z-index: 1000000;
}

.window {
  position: relative;
  height: 80vh;
  width: 80vw;
  margin-top: 10vh;
  margin-inline: auto;
  padding: 15px 40px 40px;
  background-color: $primaryGreyColor;
  border-radius: 20px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}