$primaryBlackColor: #000;
$primaryGreyColor: #363636;
$primaryDarkGreyColor: #1a1a1a;

$accentWhiteColor: #fff;
$accentPurpleColor: #5d0ef5;

$blackFontColor: #000;
$primaryFontColor: #999;
$accentWhiteFontColor: #fff;
$accentPurpleFontColor: #5d0ef5;

$yellowColor: #ffcd13;
$greenColor: #54bb28;