.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
  position: relative;
}

.notifications {
  position: fixed;
  top: 125px;
  right: 15px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: end;
}