@import "../../../styles/variables.scss";

.buttonWrapper {
  // display: inline-flex;
  // align-items: center;
  overflow: hidden;
}

.buttonOuterContainer,
.buttonInnerContainer {
  width: inherit;
  display: inline-block;
  position: sticky;
  padding: 3px;
  border-radius: 12px;
  background-color: transparent;
  z-index: 10;
  transition: all 0.25s ease;
}

.buttonOuterContainer {
  padding: 2px;
  border-radius: 14px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 110%;
    aspect-ratio: 1;
    opacity: 0;
    transition: all 0.5s ease;
  }

  &:hover {

    background-color: $primaryBlackColor;

    .buttonInnerContainer {
      background-color: $primaryBlackColor;
    }

    &::before {
      opacity: 1;
      width: 200%;
      aspect-ratio: 1;
      background: radial-gradient(circle at 40px 40px, rgba(251, 251, 251, 1) 0%, rgba(161, 37, 155, 1) 49%, rgba(9, 12, 123, 1) 100%, rgba(0, 212, 255, 1) 100%);
      animation-name: spin;
      animation-duration: 1.5s;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button {
  width: 100%;
  height: 100%;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $accentWhiteFontColor;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;

  &>*:not(:first-child) {
    margin-left: 5px;
  }
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accentBgColor {
  background: linear-gradient(65deg, rgba($color: $accentPurpleColor, $alpha: 0.9), rgba($color: $accentPurpleColor, $alpha: 0.6));
}

.primaryBgColor {
  background-color: $primaryGreyColor;
}

.circle {

  .buttonOuterContainer {
    height: calc(100% - 2px * 2);
  }

  * {
    border-radius: 100vw;
    aspect-ratio: 1;
  }
}