@import "@/styles/variables.scss";

.buttonOuterContainer,
.buttonInnerContainer {
  display: inline-block;
  position: sticky;
  padding: 3px;
  border-radius: 12px;
  background-color: transparent;
  z-index: 10;
}

.buttonOuterContainer {
  padding: 2px;
  border-radius: 14px;
  position: relative;
  overflow: hidden;

  &:hover {

    background-color: $primaryBlackColor;
    
    .buttonInnerContainer {
      background-color: $primaryBlackColor;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 110%;
      aspect-ratio: 1;
      // height: 100%;
      background: rgb(251, 251, 251);
      background: radial-gradient(circle at 40px 40px, rgba(251, 251, 251, 1) 0%, rgba(161, 37, 155, 1) 49%, rgba(9, 12, 123, 1) 100%, rgba(0, 212, 255, 1) 100%);
      animation-name: spin;
      animation-duration: 1.5s;
      --color-hover-gradient-primary-light: radial-gradient( circle at var(--coord-x) var(--coord-y), #5d0ef5 40.62%, #7e3eff 100% );
      --color-hover-gradient-primary-dark: radial-gradient( circle var(--diameter-highlight) at var(--coord-x) var(--coord-y), #5d0ef5, #321069 40.62%, #321069 100% );
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $accentWhiteFontColor;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
  // single
  
  & img {
    margin-right: 5px;
  }
}

.accentBgColor {
  background: linear-gradient(65deg, rgba($color: $accentPurpleColor, $alpha: 0.9), rgba($color: $accentPurpleColor, $alpha: 0.6));
}

.primaryBgColor {
  background-color: $primaryGreyColor;
}