@import "../../../styles/variables.scss";

.linkContainer {
  cursor: pointer;

  & a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    color: $primaryFontColor;
    font-weight: 700;
    transition: all 0.15s ease;

    img {
      filter: brightness(50%);
      transition: all 0.15s ease;
      margin-right: 5px;
    }
  }

  &:hover {
    a {
      color: $accentWhiteFontColor;
      text-shadow: 0 0 25px rgba($color: $accentWhiteColor, $alpha: 0.7);
      
      img {
        filter: brightness(100%);
      }
    }
  }
}