.pageWrapper {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  
}

.title {
  margin-inline: 15px;
  text-align: center;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 30px;
}