@import "../../../../styles/variables.scss";

.container {
  min-width: 150px;
  max-width: 200px;
  position: relative;
}

.valueContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 30px 10px 20px;
  background-color: $primaryGreyColor;
  font-size: 14px;
  font-weight: 400;
  border-radius: 7px;
  transition: all 0.15s ease;
  cursor: pointer;

  &:hover {
    background-color: #262626;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  translate: 0 -50%;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

.activeArrow {
  transform: rotate(180deg);
}

.selectContainer {
  position: absolute;
  width: 100%;
  top: calc(100% + 5px);
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: $primaryGreyColor;
  border: 2px solid $primaryDarkGreyColor;
  border-radius: 7px;
  z-index: 10000;

  .value {
    margin-bottom: 5px;
  }
}

.value {
  color: $accentWhiteFontColor;
  font-size: 13px;
}