@import "../../../styles/variables.scss";

.accordion {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba($color: $primaryGreyColor, $alpha: 0.2);
  cursor: pointer;

  &:first-child {
    border-top: 1px solid rgba($color: $primaryGreyColor, $alpha: 0.2);
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $accentWhiteFontColor;
}

.accordionItems {
  margin-top: 20px;
  color: $primaryFontColor;

  &>*:not(:last-child) {
    margin-bottom: 15px;
  }
}