@import "../../../styles/variables.scss";

.container {
  padding: 10px 30px 10px 20px;
  background-color: $primaryGreyColor;
  color: $accentWhiteFontColor;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 400;
  transition: all 0.15s ease;
  appearance: none;
  cursor: pointer;

  &:hover {
    background-color: #262626
  }

  :focus {
    outline: none;
  }
}

@media screen and (max-width: 959px) {
  .container {
    padding: 20px 0;
    background-color: transparent;
    border-radius: 0;

    &:hover {
      background-color: transparent;
    }
  }
}

.desktopValue {

}

.mobileValue {
  margin-top: 5px;
  color: $primaryFontColor;
}

.mobilePlaceholder {
  font-weight: 700;
  font-size: 16px;
}