.movieListContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  & div {
    width: min(23vw, 330px) !important;
  }

  @media screen and (max-width: 1319px) {
    & div {
      width: min(31.5vw, 420px) !important;
    }

    grid-template-columns: repeat(3, 1fr);
  }
  
  @media screen and (max-width: 799px) {
    & div {
      width: min(30.5vw, 420px) !important;
    }
  }

  @media screen and (max-width: 599px) {
    & div {
      width: min(45vw, 300px) !important;
    }

    grid-template-columns: repeat(2, 1fr);
  }
  
  @media screen and (max-width: 424px) {
    & div {
      width: min(93vw, 500px) !important;
    }

    grid-template-columns: 1fr;
  }
  
  @media screen and (max-width: 374px) {
    & div {
      width: min(91vw, 500px) !important;
    }
  }
}