.header {
  background-color: #000;
  color: rgba(255, 255, 255, .56);
  font-size: 18px;
  line-height: 28px;
  position: sticky;
  z-index: 1030;
  top: 0;
  display: grid;
  margin: 15px 0;
  @media (max-width: 1320px) {
    font-size: 14px;
    line-height: 22px;
  }
}

.header_nav {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  height: 4.4em;
  grid-gap: 20px;
  @media (max-width: 959px) {
    justify-content: space-between
  }
}

.logo {
  flex: 0 1 auto;
  color: inherit;
  height: auto;
  width: 4.74em;
  margin-right: 45px;
  z-index: 1;
  @media (max-width: 1320px) {
    margin-right: 20px;
    img {
      width: 66px;
      height: 26px;
    }
  }
  @media (max-width: 959px) {
    justify-content: space-between;
    margin-right: calc(697 * ((100vw - 320px) / 640));
  }
}

.links {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
  height: 50px;

  li {
    margin: 0;
    padding: 25px 0.72em;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;

    @media (max-width: 1720px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @media (max-width: 1320px) {
    font-size: 14px;
    line-height: 22px;
    height: 38px;
    li {
      margin: 0;
      padding: 17px 0.72em;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }
  }
  @media (max-width: 959px) {
    display: none;
  }
}

.active {
  color: rgba(255, 255, 255, .96);
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(93, 14, 245, 0.13), #5d0ef5, #5d0ef5, white, white, white, #5d0ef5, #5d0ef5, rgba(93, 14, 245, 0.13));
  border-image-slice: 1;
  @media (max-width: 1320px) {
    border-bottom: 1px solid transparent;
  }
}

.right_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;

  &>*:not(:last-child) {
    margin-right: 20px;
  }

  @media (max-width: 959px) {
    justify-content: normal
  }
}

.search__after {
  height: 24px;
  width: 1px;
  opacity: .2;
  background-color: #f5f4f6;
  @media (max-width: 959px) {
    display: none;
  }
}

.subscription {
  button {
    min-width: 138px;
    color: white;
    background: radial-gradient(circle at 50px 32.4063px, #5d0ef5 40.62%, #7e3eff 100%);
    border-radius: 8px;
  }

  span {
    color: white;
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: 1720px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media (max-width: 1320px) {
    line-height: 20px;
  }
  @media (max-width: 1199px) {
    display: none;
  }
}

.subscription__after {
  height: 24px;
  width: 1px;
  opacity: .2;
  background-color: #f5f4f6;
  @media (max-width: 1199px) {
    display: none;
  }
}

.promo {
  img {
    filter: invert(56%) sepia(0);
    @media (max-width: 1320px) {
      width: 22px;
      height: 22px;
    }
    @media (max-width: 959px) {
      filter: invert(96%) sepia(0);
    }
  }

  span {
    display: inline-block;
    color: rgba(255, 255, 255, 0.56);
  }

  @media (max-width: 1720px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media (max-width: 1320px) {
    font-size: 14px;
    line-height: 22px;
  }
  @media (max-width: 959px) {
    display: none;
  }

}

.login {
  @media (max-width: 1720px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media (max-width: 1320px) {
    font-size: 14px;
    line-height: 22px;
  }
  @media (max-width: 959px) {
    display: block;
  }

  span {
    @media (max-width: 959px) {
      display: none;
    }
  }
}

.burger {
  @media (min-width: 960px) {
    display: none;
  }
}

.search_desktop {
  @media (max-width: 960px) {
    display: none;
  }
}

.search_mobile {
  @media (min-width: 960px) {
    display: none;
  }
}

.burger_container {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.burger_container.hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}