@import "../../../styles/variables.scss";

.container {
  display: flex;
  color: $accentWhiteFontColor;

  & p {
    margin: 0;
  }
}

.breadCrumb {
  display: flex;
}

.divider {
  margin-inline: 5px !important;
}