.promo {
  position: static;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  overflow: hidden;

  &__close {
    margin-top: 16px;
    margin-right: 16px;
    background-color: rgba(139, 136, 146, .32);;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__block {
    height: 100vh;
    background-color: #101011;
    min-width: 720px;
    width: 45%;
    max-width: 900px;
    padding-bottom: 40px;

    &_title {
      background-color: #1b1a1d;
      color: rgba(255, 255, 255, .96);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 60px;

      & h3 {
        font-size: 16px;
        line-height: 24px;
        font-family: "OKKO Sans Medium", sans-serif;
        letter-spacing: 1px;
      }
    }

    &_main {
      padding: 30px 80px;

      &_steps {
        margin-bottom: 10px;
        background-color: rgb(27, 26, 29);
        padding: 30px 40px;

        &_number {
          text-transform: uppercase;
        }

        &_title {
          color: rgba(255, 255, 255, .78);
          font-size: 15px;
          line-height: 21px;


          & h3 {
            color: rgba(255, 255, 255, .96);
            font-size: 24px;
            line-height: 30px;
            font-weight: bold;
          }
        }

        & form {
          margin: 20px 0;
          display: flex;
          align-items: flex-start;
          align-content: space-between;

        }

        &_input {
          flex-grow: 1;
          margin-right: 5px;

          & input {
            width: 100%;
            color: rgba(255, 255, 255, .96);
            caret-color: rgba(255, 255, 255, .96);
            background-color: rgba(139, 136, 146, .32);
            border: 2px solid transparent;
            border-radius: 8px;
            font-size: 16px;
            line-height: 24px;
            box-sizing: border-box;
            padding-left: 14px;
            height: 50px;

            &::placeholder {
              color: rgba(255, 255, 255, .56);
            }
          }

        }

        &_button {
          max-width: 150px;
          width: 100%;

          & button {
            width: 100%;
            height: 50px;
            background: linear-gradient(26.57deg, #3c1a70 0%, rgba(93, 14, 245, .83));
            opacity: .5;
            cursor: auto;
            color: rgba(255, 255, 255, 0.76);
            font-size: 18px;
          }
        }

        &_support {
          color: rgba(255, 255, 255, 0.56);
          font-size: 15px;
          line-height: 18px;

          & a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.56);
          }
        }
      }

      &_advantages {
        padding: 30px 40px;
        background-color: rgb(27, 26, 29);

        &_title {
          color: rgba(255, 255, 255, .96);
          font-size: 24px;
          line-height: 30px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        &_images {
          margin-top: 25px;
          width: 100%;
          & ul {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 35px;
            grid-row-gap: 25px;
            margin-top: 16px;
            & li {
              display: flex;
              align-items: center;
              font-size: 14px;
              line-height: 20px;
              color: rgba(255,255,255,.78);
              & strong{
                color: rgba(255,255,255,.96);
                font-weight: bolder;
              }
              & img {
                margin-right: 15px;
              }
            }
          }
        }
      }
    }

  }
}
