.search {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  width: calc(430px + 300 * ((100vw - 1320px) / 840));
  & input{
    width: calc(100% - 40px);
    left: 36px;
    font-family: "OKKO Sans Regular",sans-serif;
    font-size: 16px;
    line-height: 24px;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    outline: none;
    margin: 0;
    color: inherit;
    @media (min-width: 600px) {
      font-size: 14px;
      line-height: 22px;
    }
    @media (min-width: 375px) {
      font-size: 13px;
      line-height: 19px;
    }
  }
  @media (max-width: 959px) {
    width: 100%;
  }
}
.result_list{
  position: absolute;
}
