@import "../../styles/variables.scss";

.filtersWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.filtersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 959px) {
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    top: -75px;
    left: -15px;
    width: 100vw;
    min-height: 100vh;
    padding-inline: 15px;
    background-color: #000;
    z-index: 100000;
  }
}

.filtersWithTextButton {
  display: flex;
  align-items: center;

  @media screen and (max-width: 959px) {
    display: block;
  }
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;

  @media screen and (max-width: 959px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.select {
  width: 100%;

  & select {
    width: 100%;
  }

  @media screen and (max-width: 959px) {
    border-bottom: 1px solid $primaryGreyColor !important;
  }
}

.sort {
  & .select {
    border-bottom: none !important;
  }
}

.closeButton {
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(-25%);
}

.textButton {
  margin: 10px 0 0 10px;

  @media screen and (max-width: 959px) {
    margin: 10px 0 0 0;
  }
}

.parameters {
  position: absolute;
  top: 30px !important;
  right: 0;
}

.applyButton {
  width: 100%;

}