.container {

  &:first-child {
    margin-left: calc(15vw - 14px);
  }

  &:last-child {
    margin-right: calc(15vw - 14px);
  }
}

.card {
  margin-inline: 10px;
  border-radius: 35px;
  overflow: hidden;
}

.imgWrapper {
  width: 70vw;
  aspect-ratio: 1.77;

  & img,
  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}