@import "../../styles/variables.scss";

.container {
  display: flex;
  transition: all 0.15s ease;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $primaryDarkGreyColor;
  }
}

.imgWrapper {

  width: 30px;
  height: 45px;
  border-radius: 10px;
  overflow: hidden;

  .photo {

  }
}

.textContainer {

  margin-left: 15px;

  .name {
    margin-bottom: 5px;
  }
  
  .profession {
    color: $primaryFontColor;
  }
}