@import "../../../../styles/variables.scss";

.rangeContainer {
  position: relative;
  padding: 20px 0;
}

.rangeSelect {
  cursor: pointer;
}

.value {
  margin-top: 5px;
  color: $primaryFontColor;
  font-size: 12px;
}

.text {
  margin-bottom: 10px;
}

.range {
  background-color: $primaryGreyColor;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 35px 15px 35px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.button {
  position: absolute;
  top: 15px;
  right: 15px;
}