.card {
  height: 100%;
  width: min(25vw, 350px);
  overflow: hidden;
  border-radius: 25px;
  transition: all 0.15s ease;

  &:hover {
    scale: 1.05
  }
}

@media screen and (max-width: 960px) {
  .card {
    width: min(65vw, 300px);
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: min(85vw, 290px);
  }
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}