@import "../../../styles/variables.scss";

.cardWrapper {
  position: relative;
  transition: scale 0.15s ease;
  height: 100%;

  &:hover {
    scale: 1.05;
    z-index: 10000000;
  }
}

.cardWithTrailer {
  margin-bottom: -40px;
  background-color: $primaryDarkGreyColor;
  border-radius: 25px;
  // height: 100%;

  & .card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.card {
  // height: 100%;
  width: min(25vw, 350px);
  overflow: hidden;
  border-radius: 25px;

  video {
    object-fit: cover;
  }

}

@media screen and (max-width: 960px) {
  .card, .movieInfo {
    width: min(65vw, 300px);
  }
}

@media screen and (max-width: 375px) {
  .card, .movieInfo {
    width: min(85vw, 290px);
  }
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieTitle {
  color: $accentWhiteFontColor;
}

.sound {
  position: absolute;
  bottom: 2px;
  right: 2px;

  &:hover {
    &>div {
      &>div {
        background-color: $primaryDarkGreyColor !important;
      }
    }
  }

  img {
    width: 14px;
    height: 14px;
  }
}

.movieInfo {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 5px 20px;
  background-color: $primaryDarkGreyColor;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.upperLine {
  display: flex;
  align-items: center;
}

.lowerLine {
  display: flex;
  align-items: center;
  margin-top: 3px;
  color: $primaryFontColor;
  font-size: 12px;

  &>*:not(:last-child) {
    margin-right: 10px;
  }
}

.ratingContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  .rating {
    padding: 2px 4px;
    color: $accentWhiteFontColor;
    border-radius: 2px;
    font-size: 9px;
  }

  .usualRate {
    background-color: $primaryGreyColor;
  }

  .greenRate {
    background-color: $greenColor;
  }
}