.filtersWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtersContainer {
  display: flex;
  align-items: stretch;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;

  & select {
    width: 100%;
  }

  &>*{
    margin-top: 5px;
    margin-right: 5px;
  }
}

.textButton {
  margin: 8px 0 0 5px;
}

@media screen and (max-width: 959px) {

  .filters,
  .sort {
    display: none;
  }
}